<div class="container-fluid">
  
  <nav class="navbar">

      <a class="nav_txt" [routerLink]="'home'">Home</a>
      <a id="home" class="nav_img" [routerLink]="'home'"><img src="../../assets/images/sprtites_nav.png" alt="immagine home"></a>
      <a class="nav_txt" [routerLink]="'ricerca'">Cerca un film</a>
      <a id="search" class="nav_img" [routerLink]="'ricerca'"><img src="../../assets/images/sprtites_nav.png" alt="immagine home"></a>
      <a class="nav_txt" [routerLink]="'home'">Login</a>
      <a id="login" class="nav_img" [routerLink]="'home'"><img src="../../assets/images/sprtites_nav.png" alt="immagine home"></a>
      <a class="nav_txt" [routerLink]="'home'">Registrazione</a>
      <a id="register" class="nav_img" [routerLink]="'home'"><img src="../../assets/images/sprtites_nav.png" alt="immagine home"></a>
      <a class="nav_txt" [routerLink]="'contatti'">Contatti</a>
      <a id="contacts" class="nav_img" [routerLink]="'contatti'"><img src="../../assets/images/sprtites_nav.png" alt="immagine home"></a>

  </nav>

</div>